section.word {
  display: flex;
  justify-content: center;
  gap: 2px;
  margin-bottom: 20px;
}

section.word>span {
  height: 40px;
  width: 40px;
  background-color: #323232;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.125rem;
  border-bottom: 1px solid #F9F4DA;
}

section.word>span.missed-letter {
  color: #EC5D49;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}