section.guess {
  display: flex;
  justify-content: center;
  gap: 2px;
  margin-bottom: 20px;
}

section.guess>span {
  height: 40px;
  width: 40px;
  background-color: #323232;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.125rem;
  border-bottom: 1px solid #F9F4DA;
}